anna: # 聚美智数
  key: {your_key}
  secret: {your_secret}
baidu: # 百度
  key: {your_key}
  secret: {your_secret}
js: # 航天金税
  key: {your_key}
  secret: {your_secret}
  code: {your_code}
  appId: ${your_appId}
piaocc: # 票查查
  authCode: ${your_authCode}
rh: # 广州税行
  key: {your_key}
  secret: {your_secret}
sz: # 深智恒际
  appCode: {your_appCode}
tencent: # 腾讯
  key: {your_key}
  secret: {your_secret}
za: # 中安未来
  appCode: {your_appCode}
